<mat-card *ngIf="isGameNew$ | async">
  <mat-card-header>
    <mat-card-title>Началь игру</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="startGame()">Начать</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!(isGameNew$ | async)">
  <mat-card-content>
    <mat-form-field appearance="legacy">
      <input matInput type="text" [formControl]="pcWord">
      <mat-hint>мое слово, тебе на {{lastLetter}}</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-form-field appearance="legacy">
    <input matInput type="text" [formControl]="playerWord">
    <mat-hint>твое слово</mat-hint>
  </mat-form-field>
  <mat-card-actions>
    <button mat-button (click)="playerTurn()">Сходить</button>
  </mat-card-actions>
</mat-card>
